# Dependencies
node_modules
.pnpm-debug.log*

# Build artifacts
dist
dist-ssr
*.local

# Environment variables
.env
.env*.local

# Editor/OS files
.DS_Store
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
*.timestamp-*
